/* Element Selectors */
body {
  font-family: 'Montserrat';
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
p {
  color: #8f8f8f;
}

/* ID Selectors */
#cta {
  padding: 7% 15%;
  text-align: center;
}
#features {
  padding: 7% 15%;
  position: relative;
}
#footer {
  padding: 7% 15%;
  text-align: center;
}
#press {
  text-align: center;
  padding-bottom: 3%;
}
#pricing {
  padding: 7% 12%;
  text-align: center;
}
#testimonials {
  text-align: center;
}

/* Buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Images */
.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}
.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5em;
}
.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
}

/* Positioning */
.container {
  text-align: center;
}
.container-fluid {
  padding: 3% 15% 7%;
}
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 28%;
}





/* New Sections */
.colored-section {
  background-color: #ff4c68;
  color: #ffffff;
}
.white-section {
  background-color: #ffffff;
}





/* Sections */
.feature-box {
  padding: 4%;
  text-align: center;
}
.fab {
  margin: .8rem;
}
.fas {
  color: #ef8172;
  margin-bottom: 1rem;
}
.fas:hover {
  color: #ff4c68
}
.carousel-item {
  padding: 7% 15%;
}
.card-body {
  min-width: 196pt;
}

/* Media Queries */
@media (max-width: 991px) {
  .title-image {
    transform: rotate(0);
    position: static;
  }
}
